{% extends "layout.html" %}

{% block description_tag %}
    <meta name="description" content="MP Consultores SAS - Blog">
{% endblock %}

{% block title %}Blog{% endblock %}

{% block style %}
    <style>
        body
        {
            background-color: #F7F4F2;
        }
        .top
        {
            font-family: sans-serif;
            font-size: 10px;
            text-align: right;
        }
        .tag
        {
            color: #DF602A;
            text-decoration: none;
            padding: 20px;
        }
        td
        {
            font-family: sans-serif;
            font-size: 14px;
        }
        h1
        {
            text-align: center;
        }
        h2
        {
            font-family: sans-serif;
            font-size: 20px;
        }
        p
        {
            font-family: sans-serif;
            font-size: 16px;
            text-align: justify;
        }
    </style>
{% endblock %}

{% block body %}

{% endblock %}